*.o
*.svn
.DS_Store
.*.swp
/env
/.config.old
/bin
/build_dir
/staging_dir
/tmp
/logs
/package/openwrt-packages
/package/autelan-shell/src/jsock
/package/base-files/files/etc/.version
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
